.fixed.inset-x-0.z-100 {
  padding-top: 0.5rem;
}

html {
  scroll-padding-top: 5rem;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.logo svg {
  height: 3.5rem;
  width: auto;
}

.logo img {
  max-height: 3.5rem;
  width: auto;
}
